<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.BIND_APPWIDGET"
        tools:ignore="ProtectedPermissions" />
    <permission
        android:name="${applicationId}.permission.READ_SETTINGS"
        android:protectionLevel="signature"
        android:label="@string/permlab_read_settings"
        android:description="@string/permdesc_read_settings" />
    <permission
        android:name="${applicationId}.permission.WRITE_SETTINGS"
        android:protectionLevel="signature"
        android:label="@string/permlab_write_settings"
        android:description="@string/permdesc_write_settings" />
    <uses-permission android:name="${applicationId}.permission.READ_SETTINGS" />
    <uses-permission android:name="${applicationId}.permission.WRITE_SETTINGS" />
    <application>
        <receiver
            android:name="com.android.launcher3.SessionCommitReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.pm.action.SESSION_COMMITTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.android.launcher3.AppWidgetsRestoredReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_HOST_RESTORED" />
            </intent-filter>
        </receiver>
        <activity
            android:name="com.android.launcher3.dragndrop.AddItemActivity"
            android:theme="@style/AddItemActivityTheme"
            android:excludeFromRecents="true"
            android:autoRemoveFromRecents="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.pm.action.CONFIRM_PIN_SHORTCUT" />
                <action android:name="android.content.pm.action.CONFIRM_PIN_APPWIDGET" />
            </intent-filter>
        </activity>
        <provider
            android:name="com.android.launcher3.LauncherProvider"
            android:authorities="${applicationId}.settings"
            android:exported="true"
            android:writePermission="${applicationId}.permission.WRITE_SETTINGS"
            android:readPermission="${applicationId}.permission.READ_SETTINGS" />
        <provider
            android:name="com.android.launcher3.graphics.GridCustomizationsProvider"
            android:authorities="${applicationId}.grid_control"
            android:exported="true" />
        <activity
            android:name="com.android.launcher3.settings.SettingsActivity"
            android:label="@string/settings_button_text"
            android:theme="@style/HomeSettings.Theme"
            android:exported="true"
            android:autoRemoveFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />
    </application>
</manifest>
